/* Configurações base e imports */
@import url('layout.css');
@import url('components.css');
@import url('themes.css');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}